# Source, object, and executable files produced.
*.o
cmail
config.h
parser.c
xboard

# Files related to the GNU build system (autoconf, etc.)
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
m4/
mdate-sh
missing
mkinstalldirs
po/

# Miscellaneous files
*~
.deps/
config.log
config.status
stamp-h
stamp-h1
stamp-vti
texinfo.tex
version.texi
xboard.info
xboard.man
ylwrap
copyright.aux
copyright.cp
copyright.dvi
copyright.fn
copyright.ky
copyright.log
copyright.pg
copyright.tp
copyright.vr
xboard.aux
xboard.cp
xboard.cps
xboard.fn
xboard.ky
xboard.log
xboard.pdf
xboard.pg
xboard.toc
xboard.tp
xboard.vr
